.container-login {    
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    height: 100%; 
    min-height: 80vh; 
    max-width: 100%;
    padding: 40px; 
    background: linear-gradient(to bottom, #1a1a1a, #333333);
}

.erro-mensagem {
    margin-top: 20px; 
    color: #dc3545;
    font-weight: bold;
    text-align: center;
}
